body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#box {
    width: 45%;
    padding-bottom: 45%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 1000px) and (orientation: portrait) {
    #box {
        width: 100%;
        padding-bottom: 100%;
    }
}
#dom {
    background-image: url("dom.png");
    background-size: cover;
}
#leaf {
    background-image: url("other/GREEN_LEAFS.png");
    background-size: cover;
}
#dom, #head, #eyes, #mouth, #leaf {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#leaf-area {
    width: 35%;
    height: 22%;
    position: absolute;
    top: 14%;
    left: 54%;
    transform: translate(-50%, -50%);
}
#head-area {
    width: 35%;
    height: 15%;
    position: absolute;
    top: 33%;
    left: 54%;
    transform: translate(-50%, -50%);
}
#eyes-area {
    width: 35%;
    height: 14%;
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
}
#mouth-area {
    width: 30%;
    height: 16%;
    position: absolute;
    top: 66%;
    left: 55%;
    transform: translate(-50%, -50%);
}
#button {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}